.table-styling{
border-collapse:collapse;
text-align: left;
width:900px;
height:600px;
font-size: 20px;
margin-left:200px;
margin-top:30px;
background-color:snow;
}
.table-fr{
background-color:#FF8633 ;
color:white;
height:55px;
}
.table-header{
padding-top:20px;
}
.image-styling{
width:150px;
height:150px;
margin-bottom:3px;
margin-top:3px;

}