body{
    background-color: white;
}
p, h1, h2, h3, ul, li{
    padding: 0;
    margin: 0;
}
header{
    padding: 15px;
    width: auto;
    margin: 1em 5em 0em 5em;
    background-color: blue;
    color: white;
}
header h2{
    font-family: serif;
    font-size: 17px;
}
.flex-container{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    margin: 1em 5em 1em 5em;
    background-color: white;
}
.justify{
    justify-content: space-between;
}
.item{
    background-color: blue;
    color: #ECF0F1;
    margin: 0;
    padding: 13px;
    width: 250px;
    height: auto;
    font-family: serif;
}
.item p{
    width: 100%;
    font-size: 12pt;
}
.item h2{
    font-family: serif;
    font-size: 20pt;
}
.item h3{
    font-family: serif;
    font-size: 11.5pt;
    margin-top: 1px;
}
.item ul{
    list-style-type: none;
    font-size: 12pt;
}
.inner-box{
    color: black;
    background-color: #c5cae9;
    padding: 0 7px 2px 7px;
    margin-top: 7px;
}
.photo{
    margin: 3px;
}
button{
    font-family: serif;
    background-color: #c5cae9;
    color: black;
    padding: 0 7px 2px 7px;
    margin-top: 7px;
    width: 100%;
    height: 3em;
    border: none;
}
button:hover{
    background-color: red;
    cursor: pointer;
}
button:active{
    background-color: green;
    cursor: pointer;
}
img{
    margin: 1%;
    width: 30%;
}
Q2js-functions.js

function outputCountryBox(cName, cCont, cCity, cPhoto){
	
    // display div tag with html elements
    // here a variable is used to concat all elements with values of parameter
    var div = `
    <div class="item">
        <h2>`+cName+`</h2>
        <h3>`+cCont+`</h3>
        <div class="inner-box">
            <h2>Cities</h2>
            <ul>`;
			
            // here we took array then looped and displayed 
            for(var i = 0;i<cCity.length; i++){
                div += `<li>`+cCity[i]+`</li>`
            }
    div += `</ul>
        </div>
        <div class="inner-box">
            <h2>Popular Photos</h2>`;
			
            // here we took array then looped and displayed 
            for(var i = 0;i<cPhoto.length; i++){
                div += `<img src="`+cPhoto[i]+`" alt="">`
            }
    div += `
        </div>
        <button>Visit</button>
    </div>`;
    document.write(div)
}